<ion-header> 
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="airplane"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lugares</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-loading *ngIf="isLoading"></app-loading>

  <div *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let lugar of lugares" (click)="verDetalle(lugar.id)">
          <ion-card>
            <img [src]="lugar.imagen" />
            <ion-card-header>
              <ion-card-title>{{ lugar.titulo }}</ion-card-title>
              <ion-label *ngIf="lugar.promedio_rating !== undefined">
                <!-- Se muestran las estrellas usando [icon] -->
                <ng-container *ngFor="let starIcon of getStarIcons(lugar.promedio_rating)">
                  <ion-icon [icon]="starIcon" class="rating-star"></ion-icon>
                </ng-container>
                <span>({{ lugar.promedio_rating }})</span>
              </ion-label>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Botón flotante visible solo para administradores -->
    <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="abrirModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
