.error-message {
  color: red;
  text-align: center;
  margin: 10px 0;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}

.form-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
  ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      margin-bottom: 1rem;
  }
}

ion-button {
  margin-top: 1.5rem;
}
